In [102]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt
import mysql.connector

In [103]:
pd.get_option("display.max_columns")
pd.set_option("display.max_rows", None)

In [104]:
mydb = mysql.connector.connect(
  host="localhost",
  user="marie",
  password="marikiki9283",
  database="pturf1"
)

df = pd.read_sql('SELECT * FROM cachedate LIMIT 10000', con=mydb)

In [105]:
df.shape

(10000, 124)

In [114]:
df.head()

,id,comp,jour,hippo,numcourse,cl,dist,partant,typec,cheque,...,updatedat,rangTxVictJock,rangTxVictCheval,rangTxVictEnt,rangTxPlaceJock,rangTxPlaceCheval,rangTxPlaceEnt,rangRecordG,appetTerrain,idChe
0,2000001,200000,2014-04-17,Newmarket,402800000,6e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445895
1,2000002,200000,2014-04-17,Newmarket,402800000,2e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445869
2,2000003,200000,2014-04-17,Newmarket,402800000,5e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,445872
3,2000004,200000,2014-04-17,Newmarket,402800000,3e,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,449402
4,2000005,200000,2014-04-17,Newmarket,402800000,1er,2000,8,Plat,200.000 £,...,2020-08-03 18:33:59,0,0,0,0,0,0,0,0,451463

In [106]:
#recherche des valeurs manquantes:

# print(df.isnull().sum()) 
print(df.shape)

(10000, 124)

In [107]:
df = df.drop(columns=['distpoids', 'recordG'])

In [108]:
df.dropna()
df.shape

(10000, 122)

In [113]:
# df.dtypes

In [110]:
# recherche de doublons
print(df.duplicated().value_counts())

False    10000
dtype: int64